body {
  font-family: Arial;
  background:#121212;
  color:white;
  margin:0;
}

header {
  padding:10px;
  background:#1f1f1f;
}

input {
  width:100%;
  padding:10px;
  font-size:16px;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(80px,1fr));
  gap:10px;
  padding:10px;
}

.card {
  background:#1f1f1f;
  padding:10px;
  text-align:center;
  border-radius:8px;
  cursor:pointer;
}

.owned {
  border:2px solid #4caf50;
}
